<h1>Liste des repas</h1>

<div *ngIf="meals.length > 0">
  <div class="row">
    
    <input [(ngModel)]="nomRecherche" class="form-control mb-4" placeholder="Rechercher un repas...">
    <p>Vous avez tapé : <strong>{{ nomRecherche }}</strong></p>

    <div class="col-md-4 mb-4" *ngFor="let meal of meals">
      <div (click)="goToMealDetail(meal.idMeal)" class="card h-100" appHighlightCard>
        <img [src]="meal.strMealThumb" class="card-img-top" alt="{{ meal.strMeal }}">
        <div class="card-body">
            <span class="badge bg-secondary">{{ 8 |difficulte }}</span> 
          <h5 class="card-title">{{ meal.strMeal | uppercase }}</h5>
          <button class="btn btn-primary" [appCopier]="meal.strMeal">📑</button>
          <p class="card-text">{{ meal.strInstructions | tronquer:30 }}</p>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/meal/add" class="fab" title="Ajouter une recette" aria-label="Ajouter une recette">+</a>
