<!-- src/app/app.component.html -->
<nav class="navbar navbar-expand bg-dark navbar-dark px-3">
  <a class="navbar-brand" routerLink="/">🍽️ MealDex</a>
  <div class="navbar-nav">
    <a class="nav-link"
       routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
  </div>

  <button class="btn btn-outline-light btn-sm"
          *ngIf="auth.isLoggedIn()"
          (click)="logout()">Se déconnecter</button>
</nav>

<div class="container py-4">
  <router-outlet></router-outlet>
</div>
