
<div *ngIf="meal$ | async as m else loading" class="row">
  <div class="col-md-5">
    <img [src]="m.thumbnail" class="img-fluid rounded shadow-sm" [alt]="m.title" />
  </div>
  <a [routerLink]="['/meal', m.id, 'edit']" class="btn btn-outline-primary btn-sm mb-3">
    ✏️ Modifier
  </a>
  <div class="col-md-7">
    <h2>{{ m.title }}</h2>
    <p style="white-space: pre-line;">{{ m.instructions }}</p>
  </div>

  <div *ngIf="!m" class="alert alert-warning">Recette introuvable.</div>

</div>

<ng-template #loading>
  <p class="text-muted">Chargement…</p>
</ng-template>



